# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual Environment
.venv/
venv/

# IDE
.idea/
.vscode/

# PyInstaller
build/
dist/
*.spec

# Temporary files
temp*

# Configuration (sensitive data)
config.json
